@charset "UTF-8";

body {
	background: linear-gradient(to bottom, #9ce1eb, #FFFFFF);
	min-height: 100vh;
	margin: 0;
}

.container {
	width: 300px;
	margin: 20px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.form-control {
	padding: 10px;
	position: relative;
}

#back {
	background-color: black;
	color: white;
	position: absolute;
	top: -39px;
	right: -22px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	height: 30px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 5px;
}

#new {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.6);
	font-size: xx-large;
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.password-holder {
	margin-right: 0px;
}

.password-holder button {
	border: none;
	width: 300px;
	height: 35px;
	background-color: black;
	color: white;
	border-radius: 20px;
	margin-left: 14px;
	text-align: center;
	
}

.password-holder button:active {
	transform: translateY(0);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	background-color: blue;
	cursor: pointer;
}
.input-group {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 2px solid black;
	margin: 20px 0;
}

.input-group label {
	position: absolute;
	top: 30%;
	left: 35px;
	transform: translateY(-50%);
	font-size: 1em;
	color: black;
	font-weight: 500;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

.input-group input:focus ~label {
	top: -5px;
	font: 0.8em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: red;
}

.input-group input:valid ~label {
	top: -5px;
	font: 0.8em;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: green;
}

.input-group input {
	position: relative;
	padding-inline-start: 35px;
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
}

.input-group input[type="password"] {
	padding-left: 35px;
	width: 90%;
}

#four {
	position: absolute;
	top: 7px;
	left: 6px;
	font-size: 1.2em;
	line-height: 57px;
	color: rgba(0, 0, 0, 0.7);
}

a {
	text-decoration: none;
	color: blue;
}

header {
	font-size: 20px;
	text-transform: capitalize;
	text-align: center;
	height: 79px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

footer {
	position: absolute;
	bottom: 0;
	right: 30%;
	background-color: transparent;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
        
.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	max-width: 300px;
}

.modal-content button.successful {
	padding: 10px 20px;
	background-color: green;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modal-content button.fail {
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.success {
	text-align: center;
	color: green;
}

.failed {
	text-align: center;
	color: red;
}